@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

// $customTheme: mat.define-theme();

// @include mat.core();

// .custom-theme {
//     @include mat.all-component-themes($customTheme);

//     // override the button styles
//     .mdc-button, .mdc-raised-button, .mdc-stroked-button, .mdc-flat-button {
//         @apply rounded-md
//     }
// }

.container {
    @apply mx-auto max-w-screen-2xl
}

.text-primary {
    color: #7d00fa;
}

button.match-input-height {
    // height: var(--mat-form-field-container-height- 0.1) !important;
    height: 55px !important;
}
.mdc-notched-outline__notch {
    border-right-style: none !important
}
.mat-mdc-snack-bar-container.snack-error {
    --mdc-snackbar-container-color: red;
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.snack-success {
    --mdc-snackbar-container-color: green;
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
}
.btn-purple {
  @apply text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 
         focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg 
         text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-purple-400 
         dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 
         dark:focus:ring-purple-900;
}